<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DEBUG_PARAM</key>
	<true/>
	<key>DEFAULT_DOMAIN</key>
	<string>cuopencomm.no-ip.org</string>
	<key>DEFAULT_RESOURCE</key>
	<string>mobile</string>
	<key>DEFAULT_JID</key>
	<string>ios_team@cuopencomm.no-ip.org/mobile</string>
	<key>DEFAULT_PASSWORD</key>
	<string>opencomm</string>
	<key>DEFAULT_PORT</key>
	<integer>5222</integer>
</dict>
</plist>
