<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DEBUG_PARAM</key>
	<true/>
	<key>DEBUG_IS_SENDER</key>
	<true/>
	<key>DEBUG_IS_RECEIVER</key>
	<false/>
	<key>DEBUG_SENDER_JID</key>
	<string>ios_team@cuopencomm/mobile</string>
	<key>DEBUG_RECEIVER_JID</key>
	<string>qimingiscool@cuopencomm/mobile</string>
	<key>DEBUG_RECVPORTNUM_SENDER</key>
	<integer>1337</integer>
	<key>DEBUG_RECVPORTNUM_RECEIVER</key>
	<integer>5150</integer>
	<key>STATE_ENDED</key>
	<string>ENDED</string>
	<key>STATE_PENDING</key>
	<string>PENDING</string>
	<key>STATE_ACTIVE</key>
	<string>ACTIVE</string>
	<key>IQ_TYPE_SET</key>
	<string>set</string>
	<key>IQ_TYPE_RESULT</key>
	<string>result</string>
	<key>SESSION_INITIATE</key>
	<string>session-initiate</string>
	<key>SESSION_ACCEPT</key>
	<string>session-accept</string>
	<key>SESSION_TERMINATE</key>
	<string>session-terminate</string>
	<key>ATTRIBUTE_FROM</key>
	<string>from</string>
	<key>ATTRIBUTE_XMLNS</key>
	<string>xmlns</string>
	<key>ATTRIBUTE_ACTION</key>
	<string>action</string>
	<key>ATTRIBUTE_INITIATOR</key>
	<string>initiator</string>
	<key>ATTRIBUTE_RESPONDER</key>
	<string>responder</string>
	<key>ATTRIBUTE_SID</key>
	<string>sid</string>
	<key>ATTRIBUTE_CREATOR</key>
	<string>creator</string>
	<key>ATTRIBUTE_NAME</key>
	<string>name</string>
	<key>ATTRIBUTE_SENDERS</key>
	<string>senders</string>
	<key>ATTRIBUTE_MEDIA</key>
	<string>media</string>
	<key>ATTRIBUTE_ID</key>
	<string>id</string>
	<key>ATTRIBUTE_COMPONENT</key>
	<string>component</string>
	<key>ATTRIBUTE_GENERATION</key>
	<string>generation</string>
	<key>ATTRIBUTE_IP</key>
	<string>ip</string>
	<key>ATTRIBUTE_PORT</key>
	<string>port</string>
	<key>ATTRIBUTE_XMLNS_JINGLE_VALUE</key>
	<string>urn:xmpp:jingle:1</string>
	<key>ATTRIBUTE_NAME_VALUE_AUDIOCONTENT</key>
	<string>audio-content</string>
	<key>ATTRIBUTE_SENDERS_VALUE_BOTH</key>
	<string>both</string>
	<key>ATTRIBUTE_XMLNS_DESCRIPTION_VALUE</key>
	<string>urn:xmpp:jingle:apps:rtp:1</string>
	<key>ATTRIBUTE_MEDIA_VALUE_AUDIO</key>
	<string>audio</string>
	<key>ATTRIBUTE_ID_VALUE_PCMU</key>
	<string>0</string>
	<key>ATTRIBUTE_NAME_VALUE_PCMU</key>
	<string>PCMU</string>
	<key>ATTRIBUTE_ID_VALUE_PCMA</key>
	<string>8</string>
	<key>ATTRIBUTE_NAME_VALUE_PCMA</key>
	<string>PCMA</string>
	<key>ATTRIBUTE_XMLNS_TRANSPORT_VALUE_RAWUDP</key>
	<string>urn:xmpp:jingle:transports:raw-udp:1</string>
	<key>ATTRIBUTE_COMPONENT_VALUE</key>
	<string>1</string>
	<key>ATTRIBUTE_GENERATION_VALUE</key>
	<string>0</string>
	<key>ATTRIBUTE_ID_CANDIDATE_VALUE_INITIATE</key>
	<string>0000000000</string>
	<key>ATTRIBUTE_ID_CANDIDATE_VALUE_ACCEPT</key>
	<string>0000000001</string>
	<key>JINGLE_ELEMENT_NAME</key>
	<string>jingle</string>
	<key>CONTENT_ELEMENT_NAME</key>
	<string>content</string>
	<key>DESCRIPTION_ELEMENT_NAME</key>
	<string>description</string>
	<key>PAYLOAD_TYPE_ELEMENT_NAME</key>
	<string>payload-type</string>
	<key>TRANSPORT_ELEMENT_NAME</key>
	<string>transport</string>
	<key>REMOTE_CANDIDATE_ELEMENT_NAME</key>
	<string>remote-candidate</string>
	<key>REASON_ELEMENT_NAME</key>
	<string>reason</string>
	<key>SUCCESS_ELEMENT_NAME</key>
	<string>success</string>
	<key>DECLINE_ELEMENT_NAME</key>
	<string>decline</string>
</dict>
</plist>
