<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.cornell.opencomm"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="15" />

    <application android:label="@string/app_name"
        android:icon="@drawable/icon"
        android:theme="@style/Theme.offwhite">
		<activity
            android:name=".view.StartAppActivity"
            android:label="@string/title_activity_startApp"
            android:theme="@style/Theme.grey_dark"
            android:screenOrientation="portrait">
            <intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
        </activity>
		<activity
		    android:name=".view.LoginView"
		    android:screenOrientation="portrait">
		</activity>
		<activity
		    android:name=".view.DashboardView"
		    android:screenOrientation="portrait">
		</activity>
		<activity android:name=".view.ResetPasswordView">
		</activity>
    </application>   
</manifest>
