<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.cornell.opencomm"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="10"
        tools:ignore="OldTargetApi" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.white_smoke" >
        <activity
            android:name=".view.SplashView"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.grey_thirtythree" >
        </activity>
        <activity
            android:name=".view.ConferenceView_v2"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".view.LoginView"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.DashboardView"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.grey_nineteen" >
        </activity>
        <activity
            android:name=".view.ResetPasswordView"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".view.ContactCardView"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.grey_eleven" >
        </activity>
        <activity
            android:name=".view.ContactAddSearchView"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.grey_eleven" >
        </activity>
        <activity
            android:name=".controller.ConferenceCreationController"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.grey_eleven" >
        </activity>
        <activity
            android:name=".view.ConferenceCardView"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.grey_nineteen" >
        </activity>
        <activity
            android:name=".view.CreateAccountView"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".view.ForgotPsdView"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".view.ConferenceView" >
        </activity>
        <activity android:name="edu.cornell.opencomm.view.ChatSpaceViewActivity" >
        </activity>
    </application>

</manifest>